@page "/jsguidgenerator"

@using System.Diagnostics

@implements IDisposable

@inject IJSRuntime JsRuntime

<h3>JavaScript GuidGenerator</h3>

<p>
    Look in Visual Studio's <i>Output</i> window to see Debug
    messages genereted from your front-end code.
</p>


@code {
    private readonly DotNetObjectReference<JsGuidGenerator> _objeRef;

    public JsGuidGenerator()
    {
        _objeRef = DotNetObjectReference.Create(this);
    }

    [JSInvokable]
    public Task<string> GenerateGuid()
    {
        return Task.FromResult(Guid.NewGuid().ToString());
    }

    [JSInvokable]
    public static Task DebugLog(string msg)
    {
        Debug.WriteLine(msg);

        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await JsRuntime.InvokeVoidAsync("JsGuidGenerator.start", _objeRef);
    }

    async void IDisposable.Dispose()
    {
        await JsRuntime.InvokeVoidAsync("JsGuidGenerator.stop", _objeRef);

        _objeRef.Dispose();
    }
}
